<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hospital - Add-Patient</title>
	<link rel="shortcut icon" href="/img/hospital-icon.png">
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/plugins/feather/feather.css">
	<link rel="stylesheet" href="/plugins/icons/flags/flags.css">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a href="index.html" class="logo">
					<img src="/img/hospital-icon.png" alt="Logo">
				</a>
				<a href="index.html" class="logo logo-small">
					<img src="/img/hospital-icon.png" alt="Logo" width="30" height="30">
				</a>
			</div>
			<div class="menu-toggle">
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fas fa-bars"></i>
				</a>
			</div>

			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
			<a class="mobile_btn" id="mobile_btn">
				<i class="fas fa-bars"></i>
			</a>

			<ul class="nav user-menu">
				<li class="nav-item dropdown has-arrow new-user-menus">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img">
							<img class="rounded-circle" src="/img/profiles/avatar-10.jpg" width="31" alt="Soeng Souy">
							<div class="user-text">
								<!--<h6>Gaurav</h6>-->
								<p class="text-muted mb-0">Admin</p>
							</div>
						</span>
					</a>
					<div class="dropdown-menu">
						<!-- <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="/img/profiles/avatar-10.jpg" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Gaurav</h6>
                                <p class="text-muted mb-0">Admin</p>
                            </div>
                        </div>-->
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="inbox.html">Edit Profile</a>
						<a class="dropdown-item" th:href="@{/logout}" style="color: rgb(255, 0, 0);" onclick="return confirm('Are you sure you want to logout...?')">Logout</a>
					</div>
				</li>

			</ul>
		</div>


		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main Menu</span>
						</li>
						<li class="submenu">
							<a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="index.html" class="">Admin Dashboard</a></li>

							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-graduation-cap"></i> <span>Doctor</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-doctor.html">Add Doctor</a></li>
								<li><a href="doctor-list.html">Doctor List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Patient</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-patient.html" class="active">Add Patient</a></li>
								<li><a href="patient-list.html">Patient List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-building"></i> <span> Department</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-department.html">Add Department</a></li>
								<li><a href="department-list.html">Department List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-book-reader"></i> <span> Schedule</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-schedule.html">Add Schedule</a></li>
								<li><a href="schedule-list.html">Schedule List</a></li>
							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Appointment</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-appointment.html">Add Appointment</a></li>
								<li><a href="appointment-list.html">Appointment List</a></li>
							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Payment</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-payment.html">Add Payment</a></li>
								<li><a href="payment-list.html">Payment List</a></li>
							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Report</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="patient-wise-report.html">Patient Wise Report</a></li>
								<li><a href="doctor-wise-report.html">Doctor Wise Report</a></li>
								<li><a href="total-report.html">Total Report</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Human Resources</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-employee.html">Add Employee</a></li>
								<li><a href="employee-list.html">Employee List</a></li>
								<li><a href="Add-nurse.html">Add Nurse</a></li>
								<li><a href="nurse-list.html">Nurse List</a></li>
								<li><a href="add-pharmacist.html">Add Pharmacist</a></li>
								<li><a href="pharmacist-list.html">Pharmacist List</a></li>
								<li><a href="add-representative.html">Add Representative</a></li>
								<li><a href="representative-list.html">Representative List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Bed Manager</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-bed.html">Add Bed</a></li>
								<li><a href="bed-list.html">Bed List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Notice</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="add-notice.html">Add Notice</a></li>
								<li><a href="notice-list.html">Notice List</a></li>
							</ul>
						</li>


						<li class="submenu">
							<a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>
								<li><a href="forgot-password.html">Forgot Password</a></li>
								<li><a href="error-404.html">Error Page</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title">Add Patient</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Patient</a></li>
								<li class="breadcrumb-item active">Add Patient</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form action="#" th:action="@{/admin/updatePatient}" th:object="${patient}"
									method="post">
									<div class="row">
										<div class="col-12 mb-2">
											<a th:href="@{/admin/patientlist}"><button type="button" class="btn btn-primary"><i
														class="fa fa-list"></i> Patient List</button></a>
										</div>


										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>First Name <span class="login-danger">*</span></label>
												<input type="text" th:field="*{firstName}" id="firstName"
													name="firstName" class="form-control" placeholder="Enter First Name"
													required>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Last Name <span class="login-danger">*</span></label>
												<input type="text" th:field="*{lastName}" id="firstName"
													name="firstName" class="form-control" placeholder="Enter Last Name"
													required>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Email <span class="login-danger">*</span></label>
												<input type="email" th:field="*{email}" id="email" name="email"
													class="form-control" placeholder="Enter Email" required>
											</div>
										</div>
										<!-- <div class="col-12 col-sm-6">
                                            <div class="form-group local-forms">
												<label>Picture Upload</label>
												<input type="file" class="form-control" >
											</div>
                                        </div>-->
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Mobile <span class="login-danger">*</span></label>
												<input type="number" th:field="*{mobile}" id="mobile" name="mobile"
													class="form-control" placeholder="Enter Mobile" required>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Date Of Birth <span class="login-danger">*</span></label>
												<input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"
													name="dateOfBirth" class="form-control"
													placeholder="Enter Date Of Birth" required>
											</div>
										</div>

										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Blood group <span class="login-danger">*</span></label>
												<select class="form-control select" th:field="*{bloodGroup}" required>
													<option value="">Select-Blood-Group</option>
													<option value="A+">A+</option>
													<option value="B+">B+</option>
													<option value="O+">O+</option>
													<option value="B+">B+</option>
													<option value="A-">A-</option>
													<option value="B-">B-</option>
													<option value="O-">O-</option>
													<option value="B-">B-</option>
												</select>
											</div>
										</div>

										<div class="col-sm-6 form-group">
											<label>Sex <span class="login-danger">*</span></label><br>
											<label class="radio-inline">
												<input type="radio" th:field="*{gender}" id="male" name="sex"
													value="male">Male</label>
											<label class="radio-inline">
												<input type="radio" th:field="*{gender}" id="female" name="sex"
													value="female">Female</label>
										</div>

										<div class="col-sm-6 form-group">
											<label>Status</label><br>
											<label class="radio-inline">
												<input type="radio" th:field="*{status}" id="active" name="status"
													value="active">Active</label>
											<label class="radio-inline">
												<input type="radio" th:field="*{status}" id="inactive" name="status"
													value="inactive">Inctive</label>
										</div>

										<div class="col-12 col-sm-6">
											<div class="form-group">
												<label> Address</label>
												<textarea type="text" th:field="*{address}" id="address" name="address"
													class="form-control" placeholder="Enter Address... "
													required></textarea>
											</div>
										</div>

										<div class="col-12">
											<div class="student-submit">
												<button type="submit" class="btn btn-primary">Save</button>
												<button type="reset" class="btn btn-primary" onclick="clearFields()">Reset</button>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<p>Copyright © 2022 Dreamguys.</p>
			</footer>
		</div>
	</div>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/js/feather.min.js"></script>
	<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/plugins/select2/js/select2.min.js"></script>
	<script src="/plugins/moment/moment.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/script.js"></script>
	
	<script type="text/javascript">
			function clearSearch()
			{
				window.location = "/admin/add-patient";
			}
	</script>
	
</body>

</html>